# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.log
staticfiles/
media/

# Environment files
.env
.vscode/
.idea/

# OS junk files
.DS_Store
Thumbs.db

# Virtual environment
venv/
ENV/
env/
