{% extends 'base.html' %}

{% block content %}

<div class="dashboard-main">
    <h2>Change Password</h2>

    <div class="container-box">
        <form method="POST">
            {% csrf_token %}

            <label>Existing Password</label>
            {{ form.old_password }}

            <label>New Password</label>
            {{ form.new_password }}

            <label>Confirm Password</label>
            {{ form.confirm_password }}

            <button type="submit" class="btn-primary">Change Password</button>
        </form>
    </div>
</div>

{% endblock %}
