{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Done | GRS</title>
    <link rel="stylesheet" href="{% static 'loginapp/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="left-panel">
            <div class="overlay-text">
            </div>
        </div>
        <div class="right-panel">
            <div class="login-card">
                <h2>Password Reset</h2>
                <p>If the email existed in our system, the password has been reset or an OTP was sent. You can now <a href="{% url 'login' %}" class="signup-link">log in</a>.</p>
            </div>
        </div>
    </div>
</body>
</html>
