{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password | GRS</title>
    <link rel="stylesheet" href="{% static 'loginapp/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="left-panel">
            <div class="overlay-text">
            </div>
        </div>
        <div class="right-panel">
            <div class="login-card">
                <h2>Reset your password</h2>
                {% for message in messages %}
                    <div class="error-message">{{ message }}</div>
                {% endfor %}
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="login-button">Change Password</button>
                </form>
                <p class="signup-text"><a href="{% url 'login' %}" class="signup-link">Back to Login</a></p>
            </div>
        </div>
    </div>
</body>
</html>
