{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Complete | GRS</title>
    <link rel="stylesheet" href="{% static 'loginapp/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="left-panel">
            <div class="overlay-text">
                <!-- <h1>Welcome to <br> Resolution Center.</h1>
                <p>We're here to help.</p> -->
            </div>
        </div>
        <div class="right-panel">
            <div class="login-card">
                <p>Your password has been set. You may go ahead and <a href="{% url 'login' %}" class="signup-link">log in</a> now.</p>
            </div>
        </div>
    </div>
</body>
</html>
